body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    width: 75%;
    height: 600px;
    background-color: aqua;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 50px;
    align-self: center;

}
.child{
    background-color: blue;
    width: 30%px;
    height: 200px;
    border: 2px solid blueviolet;
}