.border{
    border: 1px black solid;
}

.parent{

    width: 50%;
    height:600px;
    background-color: blueviolet;
}

.box1{
    background-color: blue;
    width: 50%;

}

.box2{
    width: 75%;
        background-color: darkgreen;
}

.box3{
    width: 100vw;
}

.green{
    background-color: lightgreen;
}

.box4{
    width: 50vw;
}

.box5{
    width: 400px;
}